/*Global styles*/
body {
    background-color: #F22727;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
a {
    color: #4F8C11;
}
a:hover {
    text-decoration: none;
}
img{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}
/*Mobile Styles*/

#container {
    padding: 10px;
    border: 4px solid #F29F05;
}
nav {
    text-align: center;
}
nav ul {
    padding: 0;
    list-style-type: none;
}
nav li {
    display: block;
}
nav li a{
    display: block;
    background-color: #F29F05;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border: 4px solid #F22727;
    border-radius: 10px;
}
nav li a:hover {
    background-color: #16348C;
}
main {
    padding: 10px;
    margin: 10px;
}
.main_content {
    padding: 10px;
}
.col {
    margin: 10px 0;
}
.col img {
    border-radius: 10px;
    border: 2px solid #F29F05;
}
footer {
    padding: 40px;
    text-align: center;
}
iframe {
    display: block;
    margin: 20px auto;
    width: 65%;
    height: 450px;
}
/* tablet styles */

@media (min-width: 768px) {
    nav {
        padding:  10px 0;
        border-bottom: 4px solid #F29F05;
    }
    nav li {
        display: inline;
    }
    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }
    main {
        margin-top: 10px;
    }

    .col img {
        width: 65%;
    }
} 

/* desktop styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        background-color: #6A7273;
    }
}.Gallery {
    display: flex;
}
.col {
    border: 2px solid #F29F05;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.col img {
    width: 100%;
}
.col h3 {
    padding: 10px;
    text-align: center;
    color: #F22727;
}
.col p {
    padding: 10px;
}
.multi_col {
    display: flex;
}
section, aside {
    border: 2px solid #F29F05;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.home_section {
    width: 70%;

}
.home_aside {
    width: 30%;
}